<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="conStr" connectionString="Data Source=88.99.161.144\Barter, 49339;Initial Catalog=Barter;Integrated Security=false;User ID=sa;password=Barter2020$Y;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <pages maintainScrollPositionOnPostBack="true"/>
    <globalization culture="en-GB"/>
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,            AjaxControlToolkit"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <sessionState timeout="40" cookieless="false"/>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" maxRequestLength="2147483647" requestLengthDiskThreshold="2097152"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Home.aspx"/>
        <add value="default.aspx"/>
        <add value="main.aspx"/>
        <add value="master.aspx"/>
        <add value="GategoriesFrm.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" preCondition="integratedMode" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <caching>
      <profiles>
        <add extension=".asmx" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Accept-Encoding"/>
      </profiles>
    </caching>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ShippingBasicHttpBinding_Service_1_0">
          <security mode="Transport"/>
        </binding>
        <binding name="TrackingBasicHttpBinding_Service_1_0">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc" binding="basicHttpBinding" bindingConfiguration="ShippingBasicHttpBinding_Service_1_0" contract="ShippingReference.Service_1_0" name="ShippingBasicHttpBinding_Service_1_0"/>
      <endpoint address="https://ws.aramex.net/ShippingAPI.V2/Tracking/Service_1_0.svc" binding="basicHttpBinding" bindingConfiguration="TrackingBasicHttpBinding_Service_1_0" contract="TrackingReference.Service_1_0" name="TrackingBasicHttpBinding_Service_1_0"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>